{% extends "base.html" %}
{% block title %}Joseph Ressler's Portfolio{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <div class="container-fluid" id="bootstrap_override">
        <div class="table-responsive" style="overflow-x: auto;">
            <table class="table table-striped table-hover table-dark">
                <caption style="background-color:rgba(50,50,50,0.25)">Here is a list of games I have rated along with my 100% status in them and the game's average user rating.</caption>
                <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Game Name</th>
                    <th>Joseph's Score</th>
                    <th>Has Joseph fullcleared?</th>
                    <th>Average User Score</th>
                    <th>Number of user Fullclears</th>
                    <th>User Ratings</th>
                    <th>Developer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                         <tr>
                             <td><a class="ratingButton" href="{{ url_for("game.game_rating", game_id = row.get("id")) }}">Rate this game</a></td>
                             <td>{{ row.get("name") }}</td>
                             <td>{{ row.get("score") }}</td>
                             <td>{{ "Yes" if row.get("fullclear") == 1 else "No" }}</td>
                             <td>{{ row.get("avg_score") }}</td>
                             <td>{{ row.get("fullclear_count") }}</td>
                             <td>{{ row.get("rating_count") }}</td>
                             <td>{{ row.get("developer") }}</td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}