{% extends "base.html" %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
    /*
        $(document).ready(function(){
            $("#saveform").click(function (e) {
                let game_name = $("#game_name").val();
                let dataToSend = JSON.stringify({
                    game_name: game_name
                });
                let csrf_token = "{{ csrf_token() }}";
                $.ajax({
                    headers: {
                        Accept: 'json',
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrf_token
                    },
                    url: "/game/validatefield",
                    method: "POST", // Assuming you want to send data via POST
                    dataType: "json", // Response data type
                    data: dataToSend, // Additional data to be sent
                    success: function(response){
                        // Handle successful response
                        if (response["valid"]) {
                            $("#search_form").submit();
                        } else {
                            alert("Duplicate registry entry");
                        }
                        console.log(response);
                    },
                    error: function(xhr, status, error){
                        // Handle error
                        console.error(status, error);
                        console.log(csrf_token);
                    }
                });

                // var id = this.id;
                // let popup_namefield = $("#save_query_name");
                // let form_namefield = $("#query_name");
                // form_namefield.val(popup_namefield.val());
                //
            });
        }); */
    </script>

{% endblock %}
{% block page_content %}
{% from "_form_helpers.html" import render_field, render_hidden_field %}
    <form action="{{ url_for('.rating_submit', _external=True) }}" id="search_form" method="POST" role="form" name="search_form">
        {{ render_hidden_field(form.csrf_token) }}
        {{ render_hidden_field(form.game_id) }}
        <div id="search_form_questions">

            <h2>Rate <i>{{ game_info.get("name") }}</i> by <i>{{ game_info.get("developer") }}</i></h2>
            {{ render_field(form.game_rating) }}
            {{ render_field(form.game_fullclear) }}
        </div>
        <input type="submit" value="Finish" name="submit" />

        <!--<button type="button" id="saveform" name="Foo" value="Bar">Submit rating.</button>-->

    </form>

{% endblock %}