{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ site_key }}', {action: 'validate_captcha'}).then(function (token) {
                console.info("got token: " + token);
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
        function onloadCallback() {
            grecaptcha.execute();
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
{% endblock %}

{% block page_content %}
    <h1>Registration</h1>
  {% from "_form_helpers.html" import render_field, render_hidden_field %}
    <form action="{{ url_for('auth.register', _external=True) }}" id="register_form" method="POST" role="form" name="register_form">
    <!--<div class="g-recaptcha" data-sitekey="_your_site_key_" data-size="invisible"></div>-->
        {{ render_hidden_field(form.csrf_token) }}
        <div id="register_form">
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <br />
            {{ form.recaptcha }}
        </div>
        <p><br /></p>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
        <input type="hidden" name="action" value="validate_captcha" />
        <input type="submit" value="Register" name="submit" />
        <!--<button type="submit" class="g-recaptcha" data-badge="bottom right" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Register</button>-->
        <!-- <button type="button" id="saveform" name="Foo" value="Bar">I'm done.</button> -->

    </form>
{% endblock %}