{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block page_content %}
{% from "_form_helpers.html" import render_field, render_hidden_field %}
    <!--<div style="width:500px"></div>-->
    <div id="portFlexBox">
        <div id="pic" class="div-portfolio">
            <h1>Hi, I'm Joseph Ressler. I love programming, and I love game programming.</h1>
            <p>Please enjoy this app, I built it to get more experience with Full Stack development.</p>
               <img src="{{url_for('static', filename='joseph.jpg')}}"
                     alt="A picture of Joseph A. Ressler.";
                />
        </div>
        <div id="intro" class="div-portfolio">
                <h2>Here are some of the skills I’ve worked on to build this app.</h2>
                <ul>
                    <li>Developing Python Flask Apps
                        <ul>
                            <li>Writing Ajax calls to enable two-way communication in apps</li>
                            <li>Using GitHub for source control</li>
                            <li>Implemented two-way server-client communication using REST API calls</li>
                            <li>Debugging live service applications</li>
                        </ul>
                    </li>
                    <li>Architecting and maintaining SQL databases and connections
                        <ul>
                            <li>Creating & integrating SQLite databases</li>
                            <li>Migrating databases to MySQL</li>
                            <li>Setting up MySQL servers using AWS Lightsail</li>
                        </ul>
                    </li>

                    <li>Deploying web applications with Amazon Web Services
                        <ul>
                            <li>Creating Docker Images</li>
                            <li>Buying domains through NameCheap</li>
                            <li>Configuring the Domain to my app in AWS DNS Zones</li>
                            <li>Using Lightsail to set up an SSL certificate for the app</li>
                            <li>Deploying AWS Lightsail applications</li>
                        </ul>
                    </li>

                    <li>Building RAG chatbots
                        <ul>
                            <li>Building Vector Databases using LLamaIndex</li>
                            <li>Building augmented chatbots using OpenAI API</li>
                        </ul>
                    </li>
                    <li>Implementing User Authentication
                        <ul>
                            <li>Designed User infrastructure and secure data storage</li>
                            <li>Implemented reCaptcha to ensure site security against bots</li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div id="zenatria" class="div-portfolio">
            <h2>At Clark University's Game Studio, under direction from Kristopher Cronshaw, I worked as a game engineer on the title Zenatria.</h2>
            <h3>Zenatria is an upcoming fantasy tower defense game (now on Steam!) with inspirations from classic fantasy archetypes and retro tower defense games.</h3>
            <p>My contributions to the project:</p>
            <ul>
                <li>Thoroughly debugged and optimized the existing Unity C# codebase</li>
                <li>Developed pivotal systems and algorithms; Fully rewrote pathfinding system to be more futureproof and modular</li>
                <li>Enforced object-oriented programming principles</li>
                <li>Optimized other engineers' workflows through coaching</li>
                <li>Tracked user feedback during our live demo at PAX East 2024</li>
                <li>Patched any bugs that were found during the demo</li>
            </ul>
            <iframe src="https://store.steampowered.com/widget/2928010/"></iframe>
        </div>
    </div>


{% endblock %}