{% macro render_hidden_field(field) %}
{{ field(**kwargs)|safe }}
{% endmacro %}

{% macro render_field(field, dt_class=None, dd_class=None, info=None) %}
<div class="field_label">{{ field.label }}{% if info or field.description %} <a href="javascript://" data-toggle="popover" title="{{ field.label.text }}" data-content="{{ info or field.description }}"><i class="glyphicon glyphicon-question-sign info"></i></a>{% endif %}{% if warning or field.warning %} <a href="javascript://" data-toggle="popover" title="{{ field.label.text }}" data-content="{{ warning or field.warning }}"><i class="glyphicon glyphicon-exclamation-sign warning"></i></a>{% endif %}</div>
<div class="field_input">{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
    <div style="clear:both"></div>
{% endmacro %}


{% macro form_field(field) %}
  <div class="mb-3">
    {{ field.label(class='form-label') }}
    {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
    {%- for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {%- endfor %}
  </div>
{% endmacro %}